---
layout: single
gallery2:
  - image_path: /assets/images/bio-photo.jpg
    alt: "placeholder image 1"
    title: "Image 1 title caption"
  - image_path: /assets/images/bio-photo.jpg
    alt: "placeholder image 2"
    title: "Image 2 title caption"
  - image_path: /assets/images/bio-photo.jpg
    alt: "placeholder image 3"
    title: "Image 3 title caption"
---

{{ content }}

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}



  <h1>Hello World!1</h1>

  {% include gallery id="gallery2" caption="This is a sample gallery with **Markdown support**." %}


