---
layout: splash
title: "Splash Page"
intro:
  - excerpt: 'Nullam suscipit et nam, tellus velit pellentesque at malesuada, enim eaque. Quis nulla, netus tempor in diam gravida tincidunt, *proin faucibus* voluptate felis id sollicitudin. Centered with `type="center"`'
test_logic_gallery:
  - image_path: /assets/images/th-400x400-1.png
    url: /assets/images/full-768x1024-1.png
    alt: "placeholder image 1"
    title: "Image 1 title caption"
  - image_path: /assets/images/th-400x400-2.png
    url: /assets/images/full-1024x768-2.png
    alt: "placeholder image 2"
    title: "Image 2 title caption"
---

{{ content }}

{% comment %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}

{% endcomment %}

{% include gallery id="test_logic_gallery" layout="half" caption="test" %}
